<%- include('../layout/header', {title: title}) %>
<%- include('../layout/menu', {pagename: 'books'}) %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        
        <%- include('form', {formTypeEdit: false}) %>

    </div>
</div>

<%- include('../layout/footer') %>